body.disableSelection * {  -webkit-user-select: none;  -moz-user-select: -moz-none;  -o-user-select: none;  user-select: none; }

/** js2uix-grid */
.js2uix-grid{ position: relative; display: block; width: 100%; min-width: 330px; height: 100%; font-size: 13px; border: 1px solid #ddd; overflow: hidden; -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
.js2uix-grid.disableSelection * {  -webkit-user-select: none;  -moz-user-select: -moz-none;  -o-user-select: none;  user-select: none; }
.js2uix-grid *{ -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
.js2uix-grid ul, .js2uix-grid ul li{ list-style: none; }
.js2uix-grid .js2uix-grid-head{ position: relative; display: block; width: 100%; height: 36px; border-bottom: 1px solid #ccc; overflow: hidden; background-color: #f9f9f9; z-index:2; -webkit-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);  -moz-box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);  box-shadow: 0 2px 2px -1px rgba(0,0,0,0.1);  }
.js2uix-grid ul.js2uix-head-row{ position: relative; display: block; width: 100%; height: 100%; font-size: 0; }
.js2uix-grid ul.js2uix-head-row li{ position: relative; display: inline-block; width: auto; height: 100%; vertical-align: top; cursor: pointer; padding: 9px 10px;  font-size: 12px;  border: 1px solid #fff;  border-right-color: #d2d2d2;  text-align: center; overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap;  }
.js2uix-grid ul.js2uix-head-row li[data-order='ASC']:after, .js2uix-grid ul.js2uix-head-row li[data-order='DESC']:after{ content: ''; display: inline-block; width: 10px; height: 10px; margin-left: 5px; opacity: 0.5; }
.js2uix-grid ul.js2uix-head-row li[data-order='ASC']:after, .js2uix-grid ul.js2uix-head-row li[data-order='DESC']:after{background: url(images/pagination_icons.png?ver2.0) no-repeat 0 center; }
.js2uix-grid ul.js2uix-head-row li[data-order='ASC']:after{background-position: -87px -1px;}
.js2uix-grid ul.js2uix-head-row li[data-order='DESC']:after{background-position: -105px -1px;}
.js2uix-grid ul.js2uix-head-row li:last-child{border-right: 0;}
.js2uix-grid .js2uix-grid-body{ position: relative; display: block; width: 100%; height: calc(100% - 72px); background-color: #fff; overflow: hidden; overflow-x: auto; z-index:1; }
.js2uix-grid .js2uix-grid-body .js2uix-grid-body-wrap{ position: relative; display: block; width: 100%; height: 100%; overflow: hidden; overflow-y: auto;}
.js2uix-grid .js2uix-grid-body .js2uix-grid-body-wrap .js2uix-grid-body-list{ position: relative; display: block; width: 100%; height: auto; }
.js2uix-grid .js2uix-grid-body .js2uix-grid-body-wrap .js2uix-grid-body-list[data-overflow='true'] ul.js2uix-body-row:last-child{ border-bottom: 0 !important;}
.js2uix-grid ul.js2uix-body-row{ display: block; width: 100%; height: auto; font-size: 0; border-bottom: 1px dotted #d2d2d2; }
.js2uix-grid ul.js2uix-body-row:hover, .js2uix-grid ul.js2uix-body-row.on{ background-color: rgba(0, 175, 255, 0.1); }
.js2uix-grid ul.js2uix-body-row li{ display: inline-block; width: auto; height: 100%; min-height: 28px; vertical-align: top; padding: 7px 10px; font-size: 12px; border-right: 1px dotted #d2d2d2; cursor: default; text-align: center; overflow: hidden;  text-overflow: ellipsis;  white-space: nowrap; }
.js2uix-grid ul.js2uix-body-row li:last-child{border-right: 0;}
.js2uix-grid ul.js2uix-body-row li.noGridData { text-align: center; width: 100%; }
.js2uix-grid ul.js2uix-body-row li[data-empty='true']{ padding: 0; }
.js2uix-grid ul.js2uix-body-row li[data-option='checkbox']{ padding: 9px 10px 7px; }
.js2uix-grid ul.js2uix-body-row li > *{ display: inline-block; vertical-align: top; }
.js2uix-grid .js2uix-grid-foot{ position: relative; display: block; width: 100%; height: 36px; overflow: hidden;  font-size: 0;  border-top: 1px solid #ccc;  border-left: 1px solid #fff;  border-bottom: 1px solid #fff;  background-color: #f9f9f9;  z-index:2; -webkit-box-shadow: 0 -2px 2px -1px rgba(0,0,0,0.1);  -moz-box-shadow: 0 -2px 2px -1px rgba(0,0,0,0.1);  box-shadow: 0 -2px 2px -1px rgba(0,0,0,0.1); }
.js2uix-grid .js2uix-grid-foot > *{ position: relative; display: inline-block; vertical-align: top; font-size: 12px; text-align: center; height: 36px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-list{ width: auto; padding: 7px 10px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-list select{ border: 1px solid #ddd; height: 21px; font-size: 12px; padding: 0 3px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-total{ position: relative; float: right; padding: 10px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-total ul{ display: block; width: auto; height: 100%; font-size: 0; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-total ul li{ display: inline-block; font-size: 12px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page{ width: auto; font-size: 0; padding: 5px 10px }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page ul > * { display: inline-block; vertical-align: top; position: relative; font-size: 12px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.first,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.prev,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.next,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.last,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload{ width: 25px; height: 25px; padding: 4px; cursor: pointer; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.first:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.prev:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.next:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.last:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload:before{ content: ''; display: block; position: absolute; top:0; left:0; width: 100%; height: 100%; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload:before{ left: 1px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.first:after,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.prev:after,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.next:after,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.last:after,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload:after{ content: ''; opacity: 0.4; display: block; width: 16px; height: 16px; background: url(images/pagination_icons.png?ver2.0) no-repeat 0 center;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload:after{ opacity: 0.8; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.first:after{ background-position: 0 0;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.prev:after{ background-position: -16px 0;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.next:after{ background-position: -32px 0;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.last:after{ background-position: -48px 0;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload:after{ background-position: -64px 1px;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.first:hover:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.prev:hover:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.next:hover:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.last:hover:before,
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload:hover:before{ border: 1px solid #ddd; border-radius: 2px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.prev{ border-right: 1px solid #fefefe; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.next{ border-left: 1px solid #fefefe; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.last{ border-right: 1px solid #fefefe; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.reload{ border-left: 1px solid #ddd; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.page{ padding: 2px 10px; height: 25px; border-left: 1px solid #ddd; border-right: 1px solid #ddd; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.page > * { display: inline-block; vertical-align: top; margin-right: 5px; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.page span{ padding: 3px 0;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.page span.current{ padding: 1px 0;}
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.page span:last-child{ margin-right: 0; }
.js2uix-grid .js2uix-grid-foot .js2uix-grid-page li.page input{ border: 1px solid #ddd; height: 20px; padding: 1px 10px; width: 50px; text-align: center;  font-size: 12px;}
.js2uix-grid .js2uix-grid-load{ display: none; position: absolute; top:0; left:0; bottom: 0; right: 0; width: 100%; height: 100%; background-color: rgba(255, 255, 255, 0.8); z-index: 1; }
.js2uix-grid .js2uix-grid-load .innerBox{ position: absolute; width: 180px; height: 30px; top:calc(50% - 15px);  left: calc(50% - 90px); border: 1px solid #ccc; background-color: #fff; border-radius: 2px; text-align: center; padding: 5px;  -webkit-box-shadow: 0 2px 3px -1px rgba(0,0,0,0.23);  -moz-box-shadow: 0 2px 3px -1px rgba(0,0,0,0.23);  box-shadow: 0 2px 3px -1px rgba(0,0,0,0.23);}
.js2uix-grid ul.js2uix-body-row li button{ display: inline-block; height: 22px; border: 1px solid #ddd; border-radius: 2px; margin: 0 2px; font-size: 12px; background-color: #efefef; cursor: pointer; }
/** availableMini mode */
.js2uix-grid{ min-width: 330px !important; }
.js2uix-grid.availableMini .js2uix-grid-body{ height: calc(100% - 105px);  }
.js2uix-grid.availableMini .js2uix-grid-foot{ height: 72px;  }
.js2uix-grid.availableMini .js2uix-grid-foot > * { display: block !important; text-align: left; }
.js2uix-grid.availableMini .js2uix-grid-foot .js2uix-grid-list{ position: absolute; bottom: 0; left: 0; }
.js2uix-grid.availableMini .js2uix-grid-foot .js2uix-grid-total{ position: absolute; bottom: 0; right: 0; }
.js2uix-grid.availableMini .js2uix-grid-foot .js2uix-grid-page{ position: absolute; width: 100%; top: 0; left: 0; border-bottom: 1px solid #ddd; }
.js2uix-grid.availableMini .js2uix-grid-foot .js2uix-grid-page ul{ text-align: center; }

/** js2uix-combo */
.js2uix-combo, .js2uix-combo *{ -webkit-box-sizing: border-box;  -moz-box-sizing: border-box;  box-sizing: border-box; }
.js2uix-combo{position: relative; display: block; width: auto; height: 28px; }
.js2uix-combo label.title{ position: absolute; display: block; top:0; left: 0; font-size: 12px; width: 100%; height: 100%; overflow: hidden; padding: 5px 0 5px 5px; text-align: left; border: 1px solid #ddd;  z-index:1; background-color: #fff; text-overflow: ellipsis; white-space: nowrap;}
.js2uix-combo span.arrow{ display: block; position: absolute; top:0; right: 0; border: 1px solid #ddd; z-index: 2; background-color: #f9f9f9; overflow: hidden; }
.js2uix-combo span.arrow:after{content:''; display: block; width: 25px; height: 100%; border: 1px solid #fff;  opacity: 0.6;  background: url(images/pagination_icons.png?ver2.0) no-repeat -99px 4px; }
.js2uix-combo select{ position: absolute; display: block; height: 28px; top:0; left:0; border:0; cursor: pointer; padding: 6px 0; font-size: 12px; opacity: 0; z-index:2 }
.js2uix-combo.js2uix-search input.search{ position: absolute; display: block;  top:0; left: 0; font-size: 12px; width: 100%; height: 100%; overflow: hidden; padding: 5px 0 5px 5px; text-align: left; border: 1px solid #ddd;  z-index:4; background-color: #fff;  }
.js2uix-combo.js2uix-search span.arrow{ z-index: 4; }
.js2uix-combo.js2uix-search select{ z-index: 0;}
.js2uix-combo.js2uix-search .js2uix-option{ position: absolute; display: none; left: 0; width: 100%; max-height: 105px; overflow: hidden; overflow-y: auto; border: 1px solid #ddd; z-index: 9; background-color: #fff; }
.js2uix-combo.js2uix-search .js2uix-option ul{ display: block; width: 100%; height: auto; }
.js2uix-combo.js2uix-search .js2uix-option li{ padding: 6px; font-size: 11px; border-bottom: 1px dotted #ddd; cursor: pointer; }
.js2uix-combo.js2uix-search .js2uix-option li:last-child{border-bottom:0;}
.js2uix-combo.js2uix-search .js2uix-option li:hover,
.js2uix-combo.js2uix-search .js2uix-option li.on{ background-color: rgba(0, 175, 255, 0.1); }
.js2uix-combo.js2uix-search .js2uix-option li[data-disabled='true']{ background-color: #efefef; cursor: default; }

/** js2uix-draggable, js2uix-resizable */
.js2uix-draggable { position: absolute; z-index: 9; }
.js2uix-drag-handle{ cursor: pointer; }
.js2uix-resize-handle { position: absolute; background-color: rgba(255, 0, 0, 0); }
.js2uix-resize-e { width: 10px; height: 100%; right: -10px; bottom: 0!important; top: 0!important; cursor: e-resize; }
.js2uix-resize-w { width: 10px; height: 100%; left: -10px; bottom: 0!important; top: 0!important; cursor: e-resize; }
.js2uix-resize-n { width: 100%; height: 10px; top: -10px; right: 0!important; left: 0!important; cursor: n-resize; }
.js2uix-resize-s { width: 100%; height: 10px; bottom: -10px; right: 0!important; left: 0!important; cursor: n-resize; }
.js2uix-resize-se { width: 10px; height: 10px; right: -10px; bottom: -10px; cursor: se-resize; }
.js2uix-resize-ne { width: 10px; height: 10px; right: -10px; top: -10px; cursor: ne-resize; }
.js2uix-resize-sw { width: 10px; height: 10px; left: -10px; bottom: -10px; cursor: ne-resize; }
.js2uix-resize-nw { width: 10px; height: 10px; left: -10px; top: -10px; cursor: nw-resize; }
.js2uix-resize-se:after, .js2uix-resize-ne:after, .js2uix-resize-sw:after, .js2uix-resize-nw:after{  background: url(images/uix-icons.png?v2) no-repeat;  }
.js2uix-resize-se:after { content: ""; position: absolute; width: 10px; height: 10px; right: 10px; bottom: 10px; background-position: -83px -228px; }
.js2uix-resize-ne:after { content: ""; position: absolute; width: 10px; height: 10px; right: 10px; top: 10px; background-position: -83px -228px; transform: rotate(270deg); }
.js2uix-resize-sw:after { content: ""; position: absolute; width: 10px; height: 10px; left: 10px; bottom: 10px; background-position: -83px -228px; transform: rotate(90deg); }
.js2uix-resize-nw:after { content: ""; position: absolute; width: 10px; height: 10px; left: 10px; top: 10px; background-position: -83px -228px; transform: rotate(180deg); }
